{% extends "web/base.html" %} {% load static %} {% block contenido %}
<link rel="stylesheet" href="{% static 'css/estiloIndex.css' %}">
<!--Script-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<!--Navegador-->
<section id="header">
    <div class="Container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="Container">
                <a href="#" class="navbar-brand"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span> 

                    </button>


                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="nav-logo" style="color: white;font-size: 35px; padding-right: 5px;">
                            <p> Don Miguel</p>
                        </div>
                        <div class="nav-User">
                        {% if user.is_authenticated %}
                        <div class="nav-user-color" style="color: white;font-size: 18px; padding-left: 8px; line-height: 8px;background-color:rgba(175, 45, 45, 0.89);padding-top: 10px;padding-right: 6px;padding-bottom: 1px;border-radius: 5px;">
                            <p>Bienvenido: </p>
                            <p>{{user.first_name}} {{user.last_name}}</p>
                        </div>

                        {% else %}
                        <div class="nav-user-color">
                        </div>

                        {% endif %}
                        </div>
                        <ul class="navbar-nav ml-auto">

                            <li class="nav-item active">
                                <a href="{% url 'INDEX' %}" class="nav-link">Inicio</a>
                            </li>

                            <li class="nav-item ">
                                <a href="{% url 'MISION' %}" class="nav-link">Nuestra Mision</a>
                            </li>

                            <li class="nav-item ">
                                <a href="{% url 'SUCURSALES' %}" class="nav-link">Sucursales</a>
                            </li>

                            <li class="nav-item ">
                                <a href="{% url 'GALERIA' %}" class="nav-link">Galeria</a>
                            </li>

                            <li class="nav-item ">
                                <a href="{% url 'FORMULARIOS' %}" class="nav-link">Formularios</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="nav-item ">
                                <a href="{% url 'LOGOUT' %}" class="nav-link">Cerrar Sesion</a>
                            </li>
                            {% else %}
                            <li class="nav-item ">
                                <a href="{% url 'LOGIN' %}" class="nav-link">Login</a>

                            </li>
                            {% endif %}

                        </ul>
                    </div>

            </div>
        </nav>
    </div>
</section>

<!-- Contenido de La pagina-->
    <section class="main">
        <div class="slider">
            <figure>
                {% for item in imagenes %}
                <div class="slide">
                    <img src="{{item.imagen.url}}" alt="">
                </div>
                {% endfor %}
            </figure>
            
            <div class="content">
                <div class="principal">
                    <h1>LAVADO DE AUTOS DE MIGUEL</h1>
                    <p>El lugar donde usted puede mandar a lavar el auto son total seguridad.</p>
                    <a href="{% url 'RESENIAS' %}" class="btn">Reseñas de clientes</a>
                    <br>
                    <a href="{% url 'SERVICIOS' %}" class="btn">Nuestros Servicios</a>

                </div>
            </div>
        </div>



    </section>
{% endblock contenido %}